/* CSS variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --teriary-color: yellow;
    --font-size-base: 16px;
    --font-family-base: Arial, sans-serif;
}

/* Global styles */
html {
    height: 100%;
}

body {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    color: #333;
    background: rgb(51,51,51);
background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(102,102,102,1) 50%, rgba(51,51,51,1) 100%);
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    margin-top: 0;
}

h2 {
    font-size: 2em;
    margin-top: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header styles */
.cart-button {
    background-color: var(--primary-color);
    color: white;
    border-color: black;
    border-radius: 10px;
    margin:  0.25em;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
}
.blue-hover-btn:hover{
    background-color: #005fc5;
}


.cart-badge {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    margin-left: 0.5em;
    font-size: 1em;
}

/* Page button styles */
.prev-button, .next-button{
    background-color: var(--primary-color);
    color: white;
    border-color: black;
    border-radius: 10px;
    margin:  0.25em;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
}
.page-badge{
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-size: 1.3em; 
}

.disable-button{
    background-color: grey;
    color: lightgrey;
}
.disable-button:hover{
    cursor:default;
    background-color: grey;
}



/* Items grid styles */
.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.2em;
    box-shadow: inset 0 0 0 0.3em grey; /* <-- 10px spread radius */
}

.item p {
    font-size: 1.2em;
    margin: 0.25em 0;
}

.add-to-cart-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 15px;
    margin: 1em auto;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: auto;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show-modal {
    display: block;
    opacity: 1;
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 1em;
    border: 1px solid #ccc;
    max-width: 600px;
}

.close {
    float: right;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
}

.cart-items li p {
    margin-left: 2em;
}
.cart-items li .name{
    width:50%;
    font-weight: bold;
}

.cart-items-btn{
    background-color: red;
    color: white;
    border:none;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: auto 2em auto auto;
    font-size: 1em;
    cursor: pointer;
    text-align: right;
}
.cart-items-btn:hover{
    background-color: #8d0000;
}

.cart-total {
    font-weight: bold;
}

.buy-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 1em;
}





/* Nav bar */

.my-navbar{
    height: fit-content;
    background: rgb(240,64,55);
    background: linear-gradient(0deg, rgba(182,0,0,1) 10%, rgba(240,64,55,1) 100%);
}
.my-navbar span{
    margin: 2em;
}

.my-navbar img{
    margin:1em;
    margin-left: 3em;
    height: 8em;
}


/* #a19fa0 */
.main-container{
    background-color: #fffcca;
    padding: 3em;
    min-height: 100%;
    height: fit-content;
}


g{
    margin: 1em;
    margin-left: 2em;
}
g select{
    font-size: large;
}
g span{
    font-size: large;
}

.page-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown{
    text-align: end;
}

.items-grid img{
    text-align: center;
}
.loading-image{
    background-color: none;
    margin: 2em auto;
}

.item gimg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 190%;
    background-color: var(--secondary-color);
    box-shadow: inset 0 0 0 0.3em grey;
}
.pokemon-image{
    display: flex;
    margin: 6em auto 1em auto;
    width: 70%;
} 


#myBtn {
    display: none;
    position: fixed;
    bottom: 1em;
    right: 2em; 
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: red; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  







/* POKOPY */
.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.message {
    background: #def2e0;
    color: #42a958;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.form {
	width: 60%;
	border: 2px solid #ccc;
    margin: auto;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
}
.input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}
button {
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}
a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}
div a {
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	margin-top: 20px
}




.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items:center;
}







.cart-remove-btn{
    background-color: red;
    color: white;
    border:none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}
.cart-remove-btn:hover{
    background-color: #8d0000;
}

.cart-buy-btn{
    background-color: rgb(0, 255, 42);
    color: white;
    border:none;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}
.cart-buy-btn:hover{
    background-color: #008d23;
}


.cart-item{
    margin: 1em 20%;
    background:lightgrey;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 10%;
}

.cart-item img{
    background: #888;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    float: left;
    margin: 0;
    width: 25%;
    height: 50%;
}
.cart-item div{
    margin:0;
    text-align: center;
    width: 100%;
    float: right;
}


@media screen and (max-width: 768px) {
    .page-buttons-container, .flex-row, .cart-item{
        flex-direction: column;
    }
    .cart-container, .dropdown, .page-buttons-container{
        text-align: center;
    }
    #titleImg{
        display: none;
    }
    .form{
        width: fit-content;
    }
    .form img{
        width: 40%;
    }
    .cart-item img{
        width: auto;
        border-style: solid;
        border-top: none;
        border-left: none;
        border-right: none;
    }

}