@font-face {
    font-family: pokemonRed;
    src: url(../fonts/pokemonRed.woff);
}



/* CSS variables */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --teriary-color: yellow;
    --font-size-base: 16px;
    --font-family-base: Arial, sans-serif;
}

/* Global styles */
html {
    height: 100%;
}

body {
    font-size: var(--font-size-base);
    font-family: var(--font-family-base);
    color: #333;
    background: rgb(51,51,51);
    background: linear-gradient(90deg, rgba(51,51,51,1) 0%, rgba(102,102,102,1) 50%, rgba(51,51,51,1) 100%);
    height: 100%;
    margin: 0;
    padding: 0;
}




.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pokemonBackground.png) center center no-repeat;
    background-size: cover; 
    z-index: -1;
    transform: translate(-1px) scale(2);
}



h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 0;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}


.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 1em;
    width: 60%;
    border-radius: 0.5em;
    margin: 1em auto;
}
.message {
    background: #def2e0;
    color: #42a958;
    padding: 1em;
    width: 60%;
    border-radius: 0.5em;
    margin: 1em auto;
}

input {
	display: block;
	border: 2px solid #ccc;
    width: 90%;
	padding: 1em;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 1em;
}


/* Nav bar */
.my-navbar{
    height: 140px;
    background: rgb(240,64,55);
    background: linear-gradient(0deg, rgba(182,0,0,1) 20%, rgba(240,64,55,1) 90%);
    text-align: center;
}
.my-navbar span{
    margin: 2em;
}

.my-navbar img{
    margin: 1em 10em;
    height: 70%;
}

/* Container */
.main-container{
    background-color: #fffcca;
    padding: 5em 0;
    min-height: 100%;
    height: fit-content;
    margin:auto 10%;
    
}



.navbar {
    padding: 0 5%;
    background-color: #333;
    position: fixed;
    top: 130px;
    width: 90%;
  }
  
.main-pages a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
.main-pages a:hover {
    background-color: #ddd;
    color: black;
}

.account-pages a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
  
.account-pages a:hover {
    background-color: #ddd;
    color: black;
}

#username-text{
    cursor: default;
    float:right;
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 15px;
    text-decoration: underline;
}
#stamina-text{
    cursor: pointer;
    float:right;
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 15px;
}



.current-page-button{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    background: #838383;
}
.current-page-button:hover{
    cursor: default;
}




.tooltip{
    position: relative;
    float: right;
}
.tooltip .stamina-info{
    visibility: hidden;
    opacity:0;
    width: 15em;
    background-color: #555;
    color: #fff;
    text-align: center;
    margin-top:3em;
    padding: 1em 1em;
    border-radius: 0 0 2em 2em;
    z-index: 1;
    left:-35%;
    position: absolute;

    transition: opacity 0.5s;
}
.stamina-info.toggle{
    visibility: visible;
    opacity: 1;
}






@media screen and (max-width: 768px) {
    
    #titleImg{
        display: none;  
    }
    .my-navbar{
        text-align: center;
    }

}

